<!-- Two -->
<section id="two" class="wrapper special">
    <div class="inner">
        <header class="major narrow">
            <h2>Aliquam Blandit Mauris</h2>
            <p>Ipsum dolor tempus commodo turpis adipiscing Tempor placerat sed amet accumsan</p>
        </header>
        <div class="image-grid">
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic03.jpg" alt="" /></a>
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic04.jpg" alt="" /></a>
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic05.jpg" alt="" /></a>
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic06.jpg" alt="" /></a>
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic07.jpg" alt="" /></a>
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic08.jpg" alt="" /></a>
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic09.jpg" alt="" /></a>
            <a href="#" class="image"><img src="{{ site.baseurl }}/images/pic10.jpg" alt="" /></a>
        </div>
        <ul class="actions">
            <li><a href="#" class="button big alt">Tempus Aliquam</a></li>
        </ul>
    </div>
</section>