---
layout: default
---

{% include banner.html %}

<section id="one" class="wrapper style1">
    <div class="inner">
        {% for post in site.posts %}
        <article class="feature left">
            <span class="image"><img src="{{ site.baseurl }}/images/pic01.jpg" alt="" /></span>
            <div class="content">
                <h2>{{ post.title }}</h2>
                <p><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time></p>
                <ul class="actions">
                    <li>
                        <a href="{{ post.url |  relative_url }}" class="button alt">More</a>
                    </li>
                </ul>
            </div>
        </article>
        {% endfor %}
    </div>
</section>

{{ content }}

{% include contact.html %}